* {
    margin: 0; padding: 0;
    font-family: sofia-pro;

  }



.logo a{
    color: black;
    text-decoration: none;
    font-size: 30px;

}

#coverimage {
    position: relative;
    background-image: url("https://assets.dailyprincetonian.com/projects.dailyprincetonian.com/construction-before-after/Butler Complex Walk (Before).jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
  }

.title {
    position: absolute;
    width: 100%;
    bottom: 7%;
    left: 0;
  }

  .title h1 {
    font-size: 48px;
    font-weight: 1000;
    color: white;
    line-height: 52px;
    margin-bottom: 20px;
  }

  .title p {
    margin-left: 5%;
    margin-right: 5%;
    color: white;
  }

  .transparent-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,0.7) 80%);
  }

  h1 {
    font-size: 24px;
    font-weight: 1000;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    color: white;
    }

    p {
      font-size: 20px;
    }

    body {
      background-image: linear-gradient(
  0deg,
  hsl(208deg 97% 88%) 0%,
  hsl(216deg 100% 90%) 10%,
  hsl(229deg 100% 92%) 20%,
  hsl(250deg 93% 92%) 30%,
  hsl(274deg 75% 91%) 40%,
  hsl(302deg 59% 89%) 50%,
  hsl(333deg 100% 91%) 60%,
  hsl(359deg 100% 92%) 70%,
  hsl(24deg 100% 88%) 80%,
  hsl(39deg 100% 85%) 90%,
  hsl(53deg 86% 83%) 100%
);
    }
    .width60 {
      width: 60%;
    }

    @media screen and (max-width: 800px) {
      .width60 {
        width: 90%;
      }
    }